<po-page-list [p-title]="lbl_title">
  
  <!-- Componente de animação de carregamento do Portinari.UI -->
  <po-loading-overlay [hidden]="(po_lo_text.value == null)" p-screen-lock="true" [p-text]="po_lo_text.value"></po-loading-overlay>
  
  <!-- Botão de inclusão de novos bancos de dados no Agent -->
  <div class="po-row">
    <po-button
      class="padding-bottom"
      [p-label]="lbl_add"
      p-icon="po-icon po-icon-plus"
      (p-click)="addDatabase()"
      p-kind="primary" />
  </div>
  
  <!-- Listagem dos bancos de dados atualmente disponíveis no Agent -->
  <po-list-view p-property-title="name" [p-items]="databases" [p-actions]="setoptions" [p-literals]="setLiterals">
    <ng-template p-list-view-content-template let-item>
      <div class="po-row">
        <po-info class="po-md-3" [p-label]="lbl_db_databaseName" [p-value]="item.db_databaseName" />
        <po-info class="po-md-3" [p-label]="lbl_type" [p-value]="item.type" />
        <po-info class="po-md-3" [p-label]="lbl_ip" [p-value]="item.ip" />
        <po-info class="po-md-3" [p-label]="lbl_port" [p-value]="item.port" />
        <po-info class="po-md-12" [p-label]="lbl_connectionString" [p-value]="item.connectionString" />
      </div>
    </ng-template>
  </po-list-view>
  
  <!-- Modal de confirmação de exclusão de um banco de dados do Agent -->
  <po-modal #modal_deleteDatabase
    [p-title]="lbl_deleteDatabaseTitle">
    <po-modal-footer>
      <po-button [p-label]="lbl_goBack" (p-click)="deleteDatabase_NO()"></po-button>
      <po-button [p-label]="lbl_confirm" (p-click)="deleteDatabase_YES()" p-kind="primary"></po-button>
    </po-modal-footer>
  </po-modal>
  
</po-page-list>