node_modules/
release-builds/
dist/
logs/
tmp/
remote/
assets/*
!assets/dbTemplate.json
.angular
.vs
src-electron/encryption/keys/agent.rsa.public
src-electron/encryption/keys/agent.rsa.private
