node_modules/
release-builds/
dist/
logs/
tmp/
remote/
assets/db.json
assets/dbDevelopment.json
assets/dbMirror.json
.angular
.vs
src-electron/encryption/keys/agent.rsa.public
src-electron/encryption/keys/agent.rsa.private
