<po-page-list [p-title]="lbl_title">
  
  <div class="po-row">
    <po-button class="padding-button" [p-label]="lbl_add" p-icon="po-icon po-icon-plus" (p-click)="newQuery()" p-kind="primary"/>
  </div>
  
  <po-loading-overlay [hidden]="(po_lo_text.value == null)" p-screen-lock="true" [p-text]="po_lo_text.value"></po-loading-overlay>
  
  <div class="po-sm-12 po-md-12 po-lg-12 po-xl-12 list-project list-project-empty" *ngIf="schedulesQueryTotal.length === 0">
    <span>{{ 'SCHEDULES.NOT_FOUND' | translateExtended | async }}</span> 
  </div>
  
  <div class="po-row">
    
    <po-list-view p-property-title="name" *ngIf="schedulesQuery.length > 0" [p-items]="this.schedulesQuery">
      <ng-template p-list-view-content-template let-item>
        <div class="po-row">
          <po-table
            class="table"
            [p-actions]="setTableRowActions"
            [p-columns]="setColumns"
            [p-items]="item.queries"
            p-hide-detail="true"
            p-hide-select-all="true"
            p-hide-columns-manager="true"
            p-infinite-scroll="true"
            p-sort="true"
            [p-actions-right]="true" />
        </div>
      </ng-template>
    </po-list-view>
    
    <po-list-view p-property-title="name" *ngIf="schedulesQueryExport.length > 0" [p-items]="this.schedulesQueryExport" [p-actions]="setListViewActions">
      <ng-template p-list-view-content-template let-item>
        <div class="po-row">
          <po-table
            class="table"
            [p-actions]="setTableRowActions"
            [p-columns]="setColumns"
            [p-items]="item.queries"
            p-hide-detail="true"
            p-hide-select-all="true"
            p-hide-columns-manager="true"
            p-infinite-scroll="true"
            p-sort="true"
            [p-actions-right]="true" />
        </div>
      </ng-template>
    </po-list-view>
  </div>
  
  <po-modal #modal_1
    p-title={{modal_1_title}}
    [p-primary-action]="modal_1_confirm"
    [p-secondary-action]="modal_1_close">
    <form #queryForm="ngForm" class="po-row">
      <po-select
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
        name="po_schedule"
        [p-label]="lbl_schedule + '*'"
        p-required="true"
        [(ngModel)]="query.scheduleId"
        [p-options]="listSchedule">
      </po-select>
      
      <po-input
        class="po-sm-8 po-md-8 po-lg-8 po-xl-8"
        name="po_queryName"
        [p-label]="lbl_queryName + '*'"
        p-required="true"
        [p-tooltip]="ttp_queryName"
        [(ngModel)]="query.name">
      </po-input>
      
      <po-select
        class="po-sm-4 po-md-4 po-lg-4 po-xl-4"
        name="po_queryExecutionMode"
        [p-label]="lbl_queryExecutionMode + '*'"
        [p-options]="_CNST_QUERY_EXECUTION_MODES"
        p-required="true"
        [p-tooltip]="ttp_executionMode"
        [(ngModel)]="query.executionMode">
      </po-select>
      
      <po-textarea
        class="po-textarea po-sm-12 po-md-12 po-lg-12 po-xl-12 query-text removeBorder padding-0 textarea"
        name="po_queryQuery"
        [p-label]="lbl_queryQuery + '*'"
        [(ngModel)]="query.query"
        p-rows="10">
      </po-textarea>
      
      <po-modal-footer class="modal-footer">
        <div class="po-row footer">
          <po-button [p-label]="lbl_goBack" (p-click)="modal_1_close()"></po-button>
          <po-button [p-label]="lbl_confirm" (p-click)="modal_1_confirm()" p-kind="primary"></po-button>
        </div>
      </po-modal-footer>
    </form>
  </po-modal>
  
  <po-modal #modal_2
    [p-title]="lbl_deleteConfirmation"
    [p-primary-action]="modal_2_confirm"
    [p-secondary-action]="modal_2_close">
    <po-modal-footer class="modal-footer">
      <div class="po-row footer">
        <po-button [p-label]="lbl_goBack" (p-click)="modal_2_close()"></po-button>
        <po-button [p-label]="lbl_delete" (p-click)="modal_2_confirm()" p-kind="primary"></po-button>
      </div>
    </po-modal-footer>
  </po-modal>
</po-page-list>