

.textarea {
  background: #FFFFFF;
}


.modal-footer {
  width: 100%;
}


.list-project-empty {
    text-align: center;
    background-color: white;
    border-top: 2px solid #ceeaf2;
    margin-top: 24px;
    line-height: 50px;
    font-weight: bold;
}
