<po-page-list [p-title]="lbl_title">
  <po-table
    class="executions"
    p-container="shadow"
    p-sort="true"
    p-striped="true"
    p-hide-columns-manager="true"
    p-infinite-scroll="true"
    [p-columns]="setColumns"
    [p-actions]="setTableRowActions"
    [p-actions-right]="true"
    [p-items]="agentLog" />
  
  <po-modal #modal_1
    p-click-out="true"
    p-size="auto"
    p-title="Detalhes da Execução">
    <div class="details">
      <po-table
        class="gridDetails"
        p-infinite-scroll="true"
        p-hide-columns-manager="true"
        [p-items]="details.messages"
        [p-columns]="setDetailColumns">
      </po-table>
    </div>
    <po-modal-footer class="modal-footer">
      <div class="po-row footer">
        <po-button [p-label]="lbl_goBack" (p-click)="modal_1_close()" p-kind="primary"></po-button>
      </div>
    </po-modal-footer>
  </po-modal>
</po-page-list>