<div class="po-wrapper">
  
  <!-- Componente de animação de carregamento do Portinari.UI -->
  <po-loading-overlay [hidden]="(po_lo_text.value == null)" p-screen-lock="true" [p-text]="po_lo_text.value"></po-loading-overlay>
  
  <!-- Componente de aviso quando o acesso remoto está ativado (MirrorMode) -->
  <div class="padding-bottom">
    <div class="po-row mirror" [hidden]="((mirrorMode == 0) || (mirrorMode == 1))">
      <span class="mirror-text ">{{ lbl_mirror }}</span>
    </div>
  </div>
  
  <!-- Menu principal do Agent -->
  <po-menu [p-menus]="menus">
    <ng-template p-menu-header-template>
      <h2 class="menu-title po-menu-item">
        {{ programName }} - {{ version }}
      </h2>
    </ng-template>
  </po-menu>
  
  <!-- Modal de fechamento da interface do Agent -->
  <po-modal #modal_closeAgentInterface
    [p-title]="lbl_closeAgentInterfaceTitle">
    <po-modal-footer>
      <div class="po-row footer">
        <po-button [p-label]="lbl_goBack" (p-click)="closeAgentInterface_NO()"></po-button>
        <po-button [p-label]="lbl_confirm" (p-click)="closeAgentInterface_YES()" p-kind="primary"></po-button>
      </div>
    </po-modal-footer>
  </po-modal>
  
  <!-- Modal de atualização disponível do Agent -->
  <po-modal #modal_updateAgent
    [p-title]="lbl_updateAgentTitle">
    <div class="po-row display-title">
      <span class="subtitle">{{ lbl_updateAgentDescription }}</span>
    </div>
    <po-modal-footer>
      <div class="po-row footer">
        <po-button [p-label]="lbl_updateLater" (p-click)="updateAgent_LATER()"></po-button>
        <po-button [p-label]="lbl_updateNow" (p-click)="updateAgent_NOW()" p-kind="primary"></po-button>
      </div>
    </po-modal-footer>
  </po-modal>
  
  <!-- Modal de registro desta instalação do Agent -->
  <po-modal #modal_registerAgent
    [p-title]="lbl_registerAgentTitle">
    <form #registerAgentForm="ngForm">
      
      <!-- Mensagens sobre a ativação do Agent -->
      <div class="po-row padding-bottom">
        <span class="subtitle">{{ lbl_registerAgentDescription }}</span>
        <span class="subtitle">{{ lbl_supportHelp }}</span>
      </div>
      
      <!-- Agrupadores p/ abertura de chamado -->
      <div class="po-row padding-bottom">
        <ul class="padding-list subtitle">
          <li>{{ lbl_supportGroup1 }}</li>
          <li>{{ lbl_supportGroup2 }}</li>
        </ul>
      </div>
      
      <!-- Link p/ abertura de chamado -->
      <div class="po-row padding-bottom">
        <span class="subtitle">{{ lbl_supportLink }}</span>
        <po-link p-label="https://centraldeatendimento.totvs.com/hc/pt-br/requests/new?ticket_form_id=368847"
          [p-open-new-tab]="true"
          p-url="https://centraldeatendimento.totvs.com/hc/pt-br/requests/new?ticket_form_id=368847" />
      </div>
      
      <!-- Código de ativação do Agent -->
      <div class="po-row">
        <po-input name="po_registerAgent"
          class="form-control po-md-12"
          [p-label]="lbl_registerAgentField"
          p-required="true"
          [(ngModel)]="registerAgent"
          (keydown.enter)="enterPassword($event)" />
      </div>
    </form>
    <po-modal-footer>
      <po-button [p-label]="lbl_goBack" (p-click)="registerAgent_NO()"></po-button>
      <po-button [p-label]="lbl_confirm" (p-click)="registerAgent_YES()" p-kind="primary" [p-disabled]="!registerAgentForm.valid"></po-button>
    </po-modal-footer>
  </po-modal>
  
  <!-- Modal de registro desta instalação do Agent -->
  <po-modal #modal_mirrorMode
    [p-title]="lbl_mirrorModeTitle">
    <form #mirrorModeForm="ngForm">
      
      <!-- Mensagens sobre a ativação do Agent -->
      <div class="po-row padding-bottom">
        <span class="subtitle">{{ lbl_mirrorModeDescription1 }}</span>
        <span class="subtitle">{{ lbl_mirrorModeDescription2 }}</span>
        <span class="subtitle">{{ lbl_supportHelp }}</span>
      </div>
      
      <!-- Agrupadores p/ abertura de chamado -->
      <div class="po-row padding-bottom">
        <ul class="padding-list subtitle">
          <li>{{ lbl_supportGroup1 }}</li>
          <li>{{ lbl_supportGroup2 }}</li>
          <li>{{ lbl_supportGroup3 }}</li>
        </ul>
      </div>
      
      <!-- Link p/ abertura de chamado -->
      <div class="po-row padding-bottom">
        <span class="subtitle">{{ lbl_supportLink }}</span>
        <po-link p-label="https://centraldeatendimento.totvs.com/hc/pt-br/requests/new?ticket_form_id=368847"
          [p-open-new-tab]="true"
          p-url="https://centraldeatendimento.totvs.com/hc/pt-br/requests/new?ticket_form_id=368847" />
      </div>
      
      <!-- Código de ativação do Agent -->
      <div class="po-row">
        <po-input name="po_mirrorMode"
          class="form-control po-md-12"
          [p-label]="lbl_mirrorModeField"
          p-required="true"
          [(ngModel)]="mirrorModeAgentCode"
          (keydown.enter)="enterPassword($event)" />
      </div>
    </form>
    <po-modal-footer>
      <po-button [p-label]="lbl_mirrorModeCancel" (p-click)="mirrorMode_NO()"></po-button>
      <po-button [p-label]="lbl_mirrorModeProceed" (p-click)="mirrorMode_YES()" p-kind="primary" [p-disabled]="!mirrorModeForm.valid"></po-button>
    </po-modal-footer>
  </po-modal>
  
  <!-- Raiz de redirecionamento para roteamento do Angular -->
  <router-outlet></router-outlet>
</div>
