<div class="po-wrapper">
  
  <!-- Menu principal do Agent -->
  <po-menu [p-menus]="menus">
    <ng-template p-menu-header-template>
      <h2 class="menu-title po-menu-item">
        {{ programName }} - {{ version }}
      </h2>
    </ng-template>
  </po-menu>
  
  <!-- Modal de fechamento da interface do Agent -->
  <po-modal #modal_closeAgentInterface
    [p-title]="lbl_closeAgentInterfaceTitle">
    <po-modal-footer>
      <div class="po-row footer">
        <po-button [p-label]="lbl_goBack" (p-click)="closeAgentInterface_NO()"></po-button>
        <po-button [p-label]="lbl_confirm" (p-click)="closeAgentInterface_YES()" p-kind="primary"></po-button>
      </div>
    </po-modal-footer>
  </po-modal>
  
  <!-- Modal de fechamento da interface do Agent -->
  <po-modal #modal_updateAgent
    [p-title]="lbl_updateAgentTitle">
    <div class="po-row display-title">
      <span class="subtitle">{{ lbl_updateAgentDescription }}</span>
    </div>
    <po-modal-footer>
      <div class="po-row footer">
        <po-button [p-label]="lbl_updateLater" (p-click)="updateAgent_LATER()"></po-button>
        <po-button [p-label]="lbl_updateNow" (p-click)="updateAgent_NOW()" p-kind="primary"></po-button>
      </div>
    </po-modal-footer>
  </po-modal>
  
  <!-- Modal de registro desta instalação do Agent -->
  <po-modal #modal_registerAgent
    [p-title]="lbl_registerAgentTitle">
    <form #registerAgentForm="ngForm">
      <div class="po-row">
        <span class="subtitle">{{ lbl_registerAgentDescription1 }}</span>
      </div>
      <div class="po-row padding-bottom">
        <span class="subtitle">{{ lbl_registerAgentDescription2 }}</span>
      </div>
      <div class="po-row">
        <po-input
          name="po_registerAgent"
          class="form-control po-md-12"
          [p-label]="lbl_registerAgentField"
          p-required="true"
          [(ngModel)]="registerAgent"
          (keydown.enter)="enterPassword($event)" />
      </div>
    </form>
    <po-modal-footer>
      <po-button [p-label]="lbl_goBack" (p-click)="registerAgent_NO()"></po-button>
      <po-button [p-label]="lbl_confirm" (p-click)="registerAgent_YES()" p-kind="primary" [p-disabled]="!registerAgentForm.valid"></po-button>
    </po-modal-footer>
  </po-modal>
  
  <!-- Raiz de redirecionamento para roteamento do Angular -->
  <router-outlet></router-outlet>
</div>