/* Classe de formatação do cabeçalho do menu principal */
.menu-title {
  font-size: 17px;
  align-items: center;
  margin-left: 0px;
  width: 100%;
  max-width: 100%;
  padding: 0.5em 0.5em 0.5em 0.5em;
  text-align: center;
  color: #FFFFFF;
}