/* Classe de formatação do cabeçalho do menu principal */
:root {
    --menu-size: 150px;
}

.menu-title {
  font-size: 17px;
  align-items: center;
  justify-content: center;
  margin-left: 0px;
  width: 100%;
  max-width: 100%;
  padding: 0.5em 0.5em 0.5em 0.5em;
  text-align: center;
  background-color: #363636;
  --background-color-hover: #363636;
  --color: #FFFFFF;
  --color-hover: #FFFFFF;
}

.padding-list {
  padding-left: 1em;
}
