.m-left {
  margin-left: auto;
}

.vertical-align {
  align-items: center;
}

.vertical-align-end {
  align-items: end;
}

.padding-basic {
  padding: 1em;
}

.padding-bottom-section {
  padding-bottom: 1em;
}

.db-select {
  flex-grow: 1;
}

.align-left {
  justify-content: left;
}
 