<po-page-list [p-title]="lbl_title">
  
  <!-- Componente de animação de carregamento do Portinari.UI -->
  <po-loading-overlay [hidden]="(po_lo_text.value == null)" p-screen-lock="true" [p-text]="po_lo_text.value"></po-loading-overlay>
  
  <form #projectForm="ngForm">
    <po-container class="padding-basic">
      
      <!-- Cabeçalho da primeira seção -->
      <div class="po-row">
        <span class="title po-sm-12 po-md-12 po-lg-12 po-xl-12">
          {{ 'WORKSPACES.SECTIONS.1' | translateExtended | async }}
        </span>
      </div>
      
      <div class="po-row">
        
        <!-- ERP -->
        <po-select #po_workspaceSource
          class="form-control po-md-6 po-lg-6"
          name="po_erp"
          [p-label]="lbl_erp"
          (p-change)="onChangeERP($event)"
          [(ngModel)]="workspaceSource"
          [p-options]="_CNST_ERP"
          p-required="true"
          [p-disabled]="(_CNST_ERP.length == 1)">
        </po-select>
        
        <!-- Módulo do ERP -->
        <po-select #po_workspaceProduct
          class="form-control po-md-6 po-lg-6"
          name="po_modulo"
          [p-label]="lbl_product"
          [(ngModel)]="workspaceProduct"
          [p-options]="_CNST_PRODUTO"
          p-required="true"
          [p-disabled]="((workspaceSource === '') || (_CNST_PRODUTO.length == 1))">
        </po-select>
      </div>
    </po-container>
    
    <po-container class="padding-basic">
      
      <!-- Cabeçalho da segunda seção -->
      <div class="po-row">
        <span class="title po-sm-12 po-md-12 po-lg-12 po-xl-12">
          {{ 'WORKSPACES.SECTIONS.2' | translateExtended | async }}
        </span>
      </div>
      
      <div class="po-row">
        
        <!-- Usuário do GoodData -->
        <po-input
          class="form-control po-md-6 po-lg-6"
          name="po_user"
          p-icon="po-icon-user"
          [p-label]="lbl_GDUsername"
          [p-tooltip]="ttp_GDUsername"
          [(ngModel)]="workspace.GDUsername"
          p-required="true">
        </po-input>
        
        <!-- Domínio do GoodData -->
        <po-input
          class="form-control po-md-6 po-lg-6"
          name="po_dominio"
          p-icon="po-icon-user"
          [p-label]="lbl_GDEnvironment"
          [p-tooltip]="ttp_GDEnvironment"
          [(ngModel)]="workspace.GDEnvironment"
          p-required="true">
        </po-input>
      </div>
      
      <div class="po-row vertical-align-end">
        
        <!-- Senha do GoodData -->
        <po-password
          class="form-control po-md-6 po-lg-6"
          name="po_password"
          [p-label]="lbl_GDPassword"
          [p-tooltip]="ttp_GDPassword"
          [(ngModel)]="workspace.GDPassword"
          p-required="true"
          [p-disabled]="(workspace.id != null)"
          (keydown.enter)="enterPassword($event)">
        </po-password>
        
        <!-- Botão para carregar os ambientes de GoodData disponíveis -->
        <po-button
          class="po-md-6 po-lg-6 padding-bottom"
          [p-label]="lbl_loadWorkspaces"
          [p-disabled]="(workspace.GDEnvironment == '') || (workspace.GDUsername == '') || (workspace.GDPassword == '')"
          (p-click)="getWorkspaces(
            this.workspace.GDUsername,
            this.workspace.GDPassword,
            this.workspace.GDEnvironment,
            false
            ).subscribe()">
        </po-button>
      </div>
      
      <div class="po-row">
        
        <!-- Ambiente do GoodData -->
        <po-select #po_workspace
          (p-change)="onChangeWorkspace().subscribe()"
          class="form-control po-md-6 po-lg-6"
          name="projectId"
          [(ngModel)]="workspace.GDWorkspaceId"
          [p-label]="lbl_GDWorkspaceId"
          [p-tooltip]="ttp_GDWorkspaceId"
          [p-options]="listWorkspaces"
          p-required="true"
          [p-disabled]="listWorkspaces[0] === undefined">
        </po-select>
        
        <!-- URL de upload dos dados p/ GoodData (WebDaV) -->
        <po-input
          name="uploadUrl"
          class="form-control po-md-6 po-lg-6"
          [p-tooltip]="ttp_GDWorkspaceUploadURL"
          [p-label]="lbl_GDWorkspaceUploadURL"
          p-required="true"
          [(ngModel)]="workspace.GDWorkspaceUploadURL"
          [p-disabled]="workspace.GDWorkspaceId === ''">
        </po-input>
      </div>
      
      <div class="po-row">
        
        <!-- Processo de ETL do GoodData a ser executado -->
        <po-select #po_workspaceProcess
          (p-change)="onChangeProcess()"
          class="form-control po-md-6 po-lg-6"
          name="process"
          [(ngModel)]="workspace.GDProcessId"
          [p-label]="lbl_GDProcessId"
          [p-tooltip]="ttp_GDProcessId"
          [p-options]="listProcess"
          p-required="true"
          [p-disabled]="workspace.GDWorkspaceId === ''">
        </po-select>
        
        <!-- Graph do CloudConnect a ser executado -->
        <po-select #po_workspaceGraph
          class="form-control po-md-6 po-lg-6"
          name="graph"
          [(ngModel)]="workspace.GDProcessGraph"
          [p-label]="lbl_GDProcessGraph"
          [p-tooltip]="ttp_GDProcessGraph"
          [p-options]="listGraph"
          p-required="true"
          [p-disabled]="workspace.GDProcessId === undefined">
        </po-select> 
      </div>
    </po-container>
    
    <po-container class="padding-basic">
      
      <!-- Cabeçalho da terceira seção -->
      <div class="po-row">
        <span class="title po-sm-12 po-md-12 po-lg-12 po-xl-12">
          {{ 'WORKSPACES.SECTIONS.3' | translateExtended | async }}
        </span>
      </div>
      
      <div class="po-row vertical-align po-md-6 po-lg-6">
        <po-label [p-label]="lbl_databaseId" [p-field]="true" />
        <div class="display-title grow">
          <po-select
            class="conf-select grow"
            name="databaseId"
            [(ngModel)]="workspace.databaseIdRef"
            (p-change)="onChangeDatabase($event)"
            [p-options]="listDatabase"
            p-required="false">
          </po-select>
          <po-button
            (p-click)="newModalDatabase()"
            p-icon="po-icon-plus"
            p-size="medium">
          </po-button>
        </div>
      </div>
      
      <!-- Template dos componentes do banco de dados (não editáveis), caso selecionado -->
      <div class="po-row">
        <ng-template [ngIf]="((workspace.databaseIdRef != '') && (workspace.databaseIdRef != _CNST_NO_OPTION_SELECTED))">
          
          <div class="po-row">
            
            <!-- Usuário do banco de dados -->
            <po-input
              class="po-md-6 po-lg-6"
              name="databaseUsername"
              [(ngModel)]="database.username"
              [p-label]="lbl_dbUsername"
              [p-disabled]="true">
            </po-input>
            
            <!-- Tipo de banco de dados -->
            <po-input
              class="po-md-6 po-lg-6"
              name="databaseType"
              [(ngModel)]="database.type"
              [p-label]="lbl_dbType"
              [p-disabled]="true">
            </po-input>
          </div>
          
          <div class="po-row">
            
            <!-- Senha do banco de dados -->
            <po-password
              class="po-md-6 po-lg-6"
              name="databasePassword"
              [(ngModel)]="database.password"
              [p-label]="lbl_dbPassword"
              [p-disabled]="true">
            </po-password>
            
            <!-- Classe do driver de conexão do banco de dados -->
            <po-input
              class="po-md-6 po-lg-6"
              name="databaseDriverName"
              [(ngModel)]="database.driverClass"
              [p-label]="lbl_dbDriverClass"
              [p-disabled]="true">
            </po-input>
          </div>
          
          <div class="po-row vertical-align-end">
            
            <!-- Botão para testar a conexão com o banco de dados -->
            <po-button
              class="po-md-3 po-lg-3 padding-bottom"
              (p-click)="testDatabaseConnection().subscribe()"
              [p-label]="lbl_testConnection">
            </po-button>
            
            <!-- Botão de edição do banco de dados -->
            <po-button
              class="po-md-3 po-lg-3 padding-bottom"
              (p-click)="openModalDatabase()"
              [p-label]="lbl_edit">
            </po-button>
            
            <!-- Caminho até o arquivo do driver -->
            <po-input
              class="po-md-6 po-lg-6"
              name="databaseDriverURL"
              [p-label]="lbl_dbDriverPath"
              [(ngModel)]="database.driverPath"
              [p-disabled]="true">
            </po-input>
          </div>
        </ng-template>
      </div>
    </po-container>
    
    <po-container class="padding-basic padding-bottom-section">
      
      <!-- Cabeçalho da quarta seção -->
      <div class="po-row">
        <span class="title po-sm-12 po-md-12 po-lg-12 po-xl-12">
          {{ 'WORKSPACES.SECTIONS.4' | translateExtended | async }}
        </span>
      </div>
      
       <!-- Nome desta configuração de ambiente -->
      <div class="po-row">
        <po-input
          name="po_name"
          class="form-control po-md-12 po-lg-12"
          [p-label]="lbl_name"
          [(ngModel)]="workspace.name"
          [p-required]="true">
        </po-input>
      </div>
      
      <!-- Rodapé do formulário -->
      <div class="po-row footer">
        <po-button class="po-button removeBorder padding-0" p-size="medium" [p-label]="lbl_goBack" (p-click)="goBack()" />
        <po-button class="po-button removeBorder padding-0" p-size="medium" [p-label]="lbl_save" (p-click)="saveWorkspace().subscribe()" p-kind="primary" />
      </div>
    </po-container>
    
    <!-- Modal de edição do banco de dados do ambiente -->
    <app-modal id="modal-database" *ngIf="showModalDatabase">
      <app-database-add
        [modal]="true"
        [databaseObject]="database"
        (closeModal)="closeModalDatabase($event)">
      </app-database-add>
    </app-modal>
  </form>
</po-page-list>
