<po-page-list [p-title]="lbl_title">
  
  <!-- Componente de animação de carregamento do Portinari.UI -->
  <po-loading-overlay [hidden]="(po_lo_text.value == null)" p-screen-lock="true" [p-text]="po_lo_text.value"></po-loading-overlay>
  
  <!-- Botão de inclusão de novos bancos de dados no Agent -->
  <div class="po-row">
    <po-button
      class="padding-bottom"
      [p-label]="lbl_add"
      p-icon="po-icon po-icon-plus"
      (p-click)="addWorkspace()"
      p-kind="primary" />
  </div>
  
  <!-- Listagem dos ambientes atualmente disponíveis no Agent -->
  <po-list-view p-property-title="name" [p-items]="workspaces" [p-actions]="setoptions" [p-literals]="setLiterals">
    <ng-template p-list-view-content-template let-item>
      <div class="po-row">
        <po-info class="po-md-4" [p-label]="lbl_workspace" [p-value]="item.GDWorkspaceId" />
        <po-info class="po-md-4" [p-label]="lbl_database" [p-value]="item.databaseName" />
        <po-info class="po-md-4" [p-label]="lbl_graph" [p-value]="item.GDProcessGraph" />
      </div>
    </ng-template>
  </po-list-view>
  
  <!-- Modal de confirmação de exclusão de um ambiente do Agent -->
  <po-modal #modal_deleteWorkspace
    [p-title]="lbl_deleteWorkspaceTitle">
    <po-modal-footer>
      <po-button [p-label]="lbl_goBack" (p-click)="deleteWorkspace_NO()"></po-button>
      <po-button [p-label]="lbl_confirm" (p-click)="deleteWorkspace_YES().subscribe()" p-kind="primary"></po-button>
    </po-modal-footer>
  </po-modal>
</po-page-list>
