<po-page-list [p-title]="lbl_title">
  
  <!-- Componente de animação de carregamento do Portinari.UI -->
  <po-loading-overlay [hidden]="(po_lo_text.value == null)" p-screen-lock="true" [p-text]="po_lo_text.value"></po-loading-overlay>
  
  <form #configurationForm="ngForm">
    <div class="po-row">
      <div class="po-row-50">
        
        <!-- Título da seção "Aplicação" do Agent -->
        <div class="po-row display-title">
          <span class="title">{{ lbl_application }}</span>
          <span class="subtitle">({{ lbl_version }} {{ AgentVersion }})</span>
        </div>
        
        <hr class="line po-sm-12 po-md-12 po-lg-12 po-xl-12" />
        
        <div class="po-row fields">
          
          <!-- Nome desta instância do Agent -->
          <po-input
            class="form-control po-md-12 po-lg-12"
            name="po_instance"
            [p-label]="lbl_instance"
            [p-tooltip]="ttp_instance"
            [(ngModel)]="configuration.instanceName"
            p-required="true"
            p-disabled="true">
          </po-input>
          
          <!-- Número máximo de arquivos de log a serem mantidos -->
          <po-number
            class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
            [p-min]="_CNST_LOGFILES_MINIMUM"
            name="po_logfilesToKeep"
            [(ngModel)]="configuration.logfilesToKeep"
            [p-label]="lbl_logfilesToKeep"
            [p-tooltip]="ttp_logfilesToKeep"
            p-maxlength=3
            p-regex="999">
          </po-number>
          
          <!-- Porta de comunicação com o servidor da TOTVS -->
          <po-number
            class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
            [p-min]="_CNST_PORT_MINIMUM"
            [p-max]="_CNST_PORT_MAXIMUM"
            name="po_clientPort"
            [(ngModel)]="configuration.clientPort"
            [p-label]="lbl_clientPort"
            [p-tooltip]="ttp_clientPort"
            p-maxlength=5
            p-regex="99999">
          </po-number>
          
          <!-- Chave de habilitação do modo debug -->
          <po-switch class="subtitle po-sm-12 po-md-12 po-lg-12 po-xl-12"
            name="po_debugMode"
            [(ngModel)]="configuration.debug"
            [p-label]="lbl_debugMode"
            [p-label-on]="lbl_activated_1"
            [p-label-off]="lbl_deactivated_1"
            [p-label-position]="poDebugModeLabelPosition"
            [p-tooltip]="ttp_debugMode">
          </po-switch>
          
          <!-- Chave de habilitação da atualização automática -->
          <po-switch class="subtitle po-sm-12 po-md-12 po-lg-12 po-xl-12"
            name="po_autoUpdate"
            [(ngModel)]="configuration.autoUpdate"
            [p-label]="lbl_autoUpdate"
            [p-label-on]="lbl_activated_2"
            [p-label-off]="lbl_deactivated_2"
            [p-label-position]="poDebugModeLabelPosition"
            [p-tooltip]="ttp_autoUpdate">
          </po-switch>
          
          <!-- Seletor de idioma (botões) -->
          <div class="subtitle po-sm-12 po-md-12 po-lg-12 po-xl-12">
            <po-label [p-label]="lbl_locale" [p-field]="true" />
            <po-button-group
              [p-buttons]="CNST_LANGUAGES"
              p-toggle="single">
            </po-button-group>
          </div>
          
          <!-- Fuso horário das datas -->
          <po-select 
            name="po_timezone"
            class="form-control po-md-12 po-lg-12"
            [p-label]="lbl_timezone"
            [(ngModel)]="configuration.timezone"
            [p-options]="_CNST_TIMEZONES"
            p-required="true">
          </po-select>
        </div>
      </div>
      
      <div class="po-row-50">
        
        <!-- Título da seção "Java" do Agent -->
        <div class="po-row display-title">
          <span class="title">{{ lbl_java }}</span>
          <!--<span class="subtitle">({{ lbl_version }} {{ JavaVersion }})</span>-->
        </div>
        
        <hr class="line po-sm-12 po-md-12 po-lg-12 po-xl-12" />
        
        <div class="po-row fields">
          
          <!-- Alocação máxima de memória do Java -->
          <po-number
            class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
            [p-min]="_CNST_JAVA_XMX_MINIMUM"
            name="po_javaXmx"
            [(ngModel)]="configuration.javaXmx"
            [p-label]="lbl_javaXmx"
            [p-tooltip]="ttp_javaXmx"
            p-maxlength=5
            p-regex="99999">
          </po-number>
          
          <!-- Diretório p/ armazenamento dos arquivos temporários do Agent -->
          <div class="po-md-12 po-lg-12">
            <po-label [p-label]="lbl_javaTmpDir" [p-field]="true" />
            <div class="display-title">
              <po-input class="conf-select grow" name="po_tmpDirFolder" [p-tooltip]="ttp_javaTmpDir" [(ngModel)]="configuration.javaTmpDir" [p-disabled]="true"></po-input>
              <po-button
                (p-click)="getTmpFolder()"
                p-icon="po-icon-folder"
                p-size="medium"
              />
            </div>
          </div>
          
          <!-- Diretório onde se encontra os binários da JRE do Java (opcional) -->
          <div class="po-md-12 po-lg-12">
            <po-label [p-label]="lbl_javaJREDir" [p-field]="true" />
            <div class="display-title">
              <po-input class="conf-select grow" name="po_JREDirFolder" [p-tooltip]="ttp_javaJREDir" [(ngModel)]="configuration.javaJREDir" [p-disabled]="true"></po-input>
              <po-button
                (p-click)="getJREFolder()"
                p-icon="po-icon-folder"
                p-size="medium"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Rodapé do formulário -->
    <div class="po-row footer">
      <po-button class="removeBorder padding-0 po-button" p-size="medium" [p-label]="lbl_save" (p-click)="saveConfiguration()" />
    </div>
    
  </form>
</po-page-list>
