@media screen and (max-width: 800px) {
  .fields {
    width: 40% !important;
  }
}

.display-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.fields {
  width: 70%;
}

.grow {
  flex-grow: 1;
}