<po-page-list [p-title]="lbl_title">
  <po-loading-overlay [hidden]="(po_lo_text.value == null)" p-screen-lock="true" [p-text]="po_lo_text.value"></po-loading-overlay>
  
  <div class="po-row">
    <po-button class="padding-button" [p-label]="lbl_add" (p-click)="editSchedule(null)" p-kind="primary" p-icon="po-icon po-icon-plus"></po-button>
  </div>
  
  <po-list-view p-property-title="name" [p-items]="schedules" [p-actions]="setoptions">
    <ng-template p-list-view-content-template let-item>
      <div class="po-row">
        <po-info class="po-md-3" [p-label]="lbl_enabled" [p-value]="(item.enabled ? 'Sim' : 'Não')" />
        <po-info class="po-md-3" [p-label]="lbl_workspace" [p-value]="item.workspaceName" />
        <po-info class="po-md-3" [p-label]="lbl_lastExecution" [p-value]="item.lastExecution" />
        <po-info class="po-md-3" [p-label]="lbl_windows" [p-value]="item.windows.toString().replaceAll(',',' ')" />
      </div>
    </ng-template>
  </po-list-view>
  
  <po-modal #modal_1
    [p-title]="lbl_deleteConfirmation"
    [p-primary-action]="modal_1_confirm"
    [p-secondary-action]="modal_1_close">
    <po-modal-footer>
      <po-button [p-label]="lbl_goBack" (p-click)="modal_1_close()"></po-button>
      <po-button [p-label]="lbl_confirm" (p-click)="modal_1_confirm()" p-kind="primary"></po-button>
    </po-modal-footer>
  </po-modal>
</po-page-list>