<po-page-list [p-title]="lbl_title">
  
  <!-- Componente de animação de carregamento do Portinari.UI -->
  <po-loading-overlay [hidden]="(po_lo_text.value == null)" p-screen-lock="true" [p-text]="po_lo_text.value"></po-loading-overlay>
  
  <!-- Botão de inclusão de novos bancos de dados no Agent -->
  <div class="po-row">
    <po-button
      class="padding-bottom"
      [p-label]="lbl_add"
      (p-click)="addSchedule()"
      p-kind="primary"
      p-icon="po-icon po-icon-plus">
    </po-button>
  </div>
  
  <!-- Listagem dos agendamentos atualmente disponíveis no Agent -->
  <po-list-view p-property-title="name" [p-items]="schedules" [p-actions]="setoptions" [p-literals]="setLiterals">
    <ng-template p-list-view-content-template let-item>
      <div class="po-row">
        <po-info class="po-md-3" [p-label]="lbl_enabled" [p-value]="(item.enabled ? lbl_yes : lbl_no)" />
        <po-info class="po-md-3" [p-label]="lbl_workspace" [p-value]="item.workspaceName" />
        <po-info class="po-md-3" [p-label]="lbl_lastExecution" [p-value]="item.lastExecutionString" />
        <po-info class="po-md-3" [p-label]="lbl_windows" [p-value]="item.windows.toString().replaceAll(',',' ')" />
      </div>
    </ng-template>
  </po-list-view>
  
  <!-- Modal de confirmação de exclusão de um banco de dados do Agent -->
  <po-modal #modal_deleteSchedule
    [p-title]="lbl_deleteScheduleTitle">
    <po-modal-footer>
      <po-button [p-label]="lbl_goBack" (p-click)="deleteSchedule_NO()"></po-button>
      <po-button [p-label]="lbl_confirm" (p-click)="deleteSchedule_YES()" p-kind="primary"></po-button>
    </po-modal-footer>
  </po-modal>
  
</po-page-list>